@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(144, 150, 144);
    border-radius: 8px;
}

.home {
    display: flex;
    flex-direction: column;
    background-color: #D8D9DA;
    min-height: 100vh;


    & header {
        display: flex;
        flex-direction: column;
        background-color: #272829;

        & figure {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            align-items: center;
            color: #FFF6E0;


            & img {
                height: 30px;
            }
        }

        & nav {
            display: flex;
            justify-content: end;
            padding: 10px 20px;
            background-color: #61677A;

            & ul {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

            }
        }


    }
}


.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #FFF6E0;
    padding: 5px;

}

.active {
    border-bottom: 1px solid #FFF6E0;
}

.createUser {
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 90%;
    padding: 20px;
    flex: 1;
    gap: 20px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 450px;
        align-self: center;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 10px;
        color: black;



        & label {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #272829;
            font-weight: 600;

            & input {
                height: 40px;
                border-radius: 8px;
                border: 1px solid gray;
                outline: none;
                padding-inline: 5px;


            }
        }

        & select {
            height: 30px;
            outline: none;
            border: none;
            border-radius: 8px 8px 0 0;
            padding-inline: 5px;
            border: 1px solid gray;

        }

        & button {
            height: 40px;
            border-radius: 8px;
            border: none;
            width: 160px;
            align-self: center;
            margin-top: 10px;
            background-color: #61677A;
            color: #FFF6E0;
            cursor: pointer;

            &:hover {
                background-color: #272829;
            }
        }

        & section {
            display: flex;
            justify-content: space-around;

            & input {
                height: 20px;
            }
        }

        & span {
            color: red;
            font-size: 0.7em;
        }

    }

}

.getUsers {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;


    & section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & input {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
            outline: none;
            &:focus {
                border: 1px solid #FFF6E0;
            }

        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        white-space: nowrap;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #61677A;
        text-align: center;
    }

    thead {
        background-color: #FFF6E0;
    }
    & strong {
        text-align: center;
        font-size: 1.5em;
    }


}

footer {
    background-color: #272829;
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;

    & a {
        display: flex;
        align-items: center;
        font-size: 35px;
        cursor: pointer;
        padding: 5px;
        text-decoration: none;
        color: white;

    }

}



@media (max-width: 1000px) {
    table {
        display: block;
        overflow-y: auto;
    }
}
@media (max-width: 700px) {
    .createUser {

        justify-content: center;
        padding: 0;
        
        & form {
            width: 100%;
        }
    }
}